---
layout: default
---

{% include get_sub_category.html %}
{% assign size = sub_categories | size %}

{% if size == 0 %}
  -
{% else %}

 <div class="posts post-list">
  {% for category in sub_categories %}
    <div class="category">
      <h2>
        <a href="{{category}}" style="color: black;">{{category | upcase}} ({{ site.categories[category] | size }})</a>
      </h2>
    </div>
    {% for post in site.categories[category] %}
      <a href="{{ post.url }}">
        <li>
          <h3>
            <a href="{{ site.baseurl }}{{ post.url }}"> {{ post.title }} </a>
            <small>{{ post.date | date_to_string }}</small>
          </h3>
        </li>
      </a>
    {% endfor %}
  {% endfor %}
  </div>
{% endif %}

<ul class="posts-list">
  {% assign category = page.category | default: page.title %} {% for post in
  site.categories[category] %}
  <li>
    <h3>
      <a href="{{ site.baseurl }}{{ post.url }}"> {{ post.title }} </a>
      <small>{{ post.date | date_to_string }}</small>
    </h3>
  </li>
  {% endfor %}
</ul>
